Repository tomvothecoder/simboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: "bash -c '\n  command -v pnpm >/dev/null 2>&1 ||\n    { echo \"❌ pnpm not found on PATH (git hooks run non-interactively)\"; exit 1; };\n  export PATH=\"$HOME/.local/bin:$HOME/.pnpm:$PATH\";\n  pnpm --dir frontend run lint:fix:staged\n'\n"
  language: system

frontend-prettier:
  name: Frontend Prettier (staged files)
  entry: "bash -c '\n  command -v pnpm >/dev/null 2>&1 ||\n    { echo \"❌ pnpm not found on PATH (git hooks run non-interactively)\"; exit 1; };\n  export PATH=\"$HOME/.local/bin:$HOME/.pnpm:$PATH\";\n  pnpm --dir frontend run format:staged\n'\n"
  language: system

Add repo-local core agent skills (#178)
  .agents/skills/backend-engineer/SKILL.md
  .agents/skills/docs-writer/SKILL.md
  .agents/skills/frontend-engineer/SKILL.md
  .agents/skills/reviewer/SKILL.md
  .agents/skills/test-engineer/SKILL.md
Due: none

Surface missing schema fields in Simulation Details page (#128)
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationPathCard.tsx
Due: frontend-eslint, frontend-prettier

Add docs update issue template (#184)
  .github/ISSUE_TEMPLATE/docs_update.yml
  CONTRIBUTING.md
Due: none

Fix post-login return redirect (#190)
  backend/app/features/user/api/oauth.py
  backend/app/features/user/auth/oauth.py
  backend/tests/features/user/api/test_oauth.py
  backend/tests/features/user/auth/test_oauth.py
  frontend/src/auth/AuthCallback.tsx
  frontend/src/auth/AuthContext.tsx
  frontend/src/auth/context.ts
  frontend/src/auth/returnTarget.ts
Due: frontend-eslint, frontend-prettier

Add support for locally hosted LLM providers (e.g., Ollama) (#197)
  .envs/example/backend.env.example
  .envs/example/backend.production.env.example
  Makefile
  backend/README.md
  backend/app/core/config.py
  backend/app/features/assistant/api.py
  backend/app/features/assistant/llm_generator.py
  backend/app/features/assistant/orchestrator.py
  backend/app/features/assistant/schemas.py
  backend/app/features/assistant/service.py
  backend/pyproject.toml
  backend/tests/core/test_config.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_llm_generator.py
  backend/tests/features/assistant/test_orchestrator.py
  backend/uv.lock
  docs/ai-196-local-llm/README.md
  docs/deploy/spin.md
  docs/developer/README.md
  frontend/pnpm-lock.yaml
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/api/api.ts
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationSummaryPanel.tsx
  frontend/src/features/simulations/hooks/useSimulationSummary.ts
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Fix mypy issue
  backend/tests/features/assistant/test_api.py
Due: none

Reject blank LivAI API keys
  backend/app/features/assistant/orchestrator.py
  backend/tests/features/assistant/test_orchestrator.py
Due: none

Fix frontend Docker pnpm config (#199)
  frontend/Dockerfile
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: frontend-prettier

Add ingestion state persistence and verification
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/models.py
  backend/app/features/ingestion/schemas.py
  backend/app/scripts/README.md
  backend/app/scripts/ingestion/nersc_archive_ingestor.py
  backend/app/scripts/ingestion/verify_legacy_state.py
  backend/migrations/versions/20260526_120000_add_processed_execution_ids_to_ingestions.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_nersc_archive_ingestor.py
  backend/tests/features/ingestion/test_schemas.py
  backend/tests/features/ingestion/test_token_ingestion.py
  backend/tests/features/ingestion/test_verify_legacy_state.py
  docs/deploy/spin.md
Due: none

Document DB-backed HPC ingestion state
  docs/developer/README.md
Due: none

Avoid bind-heavy ingestion state fallback lookup
  backend/app/features/ingestion/api.py
  backend/tests/features/ingestion/test_api.py
Due: none

Remove legacy cutoff script
  backend/app/scripts/README.md
  backend/app/scripts/ingestion/verify_legacy_state.py
  backend/tests/features/ingestion/test_verify_legacy_state.py
  docs/deploy/spin.md
Due: none

Add ingestion coverage for HPC upload flows
  backend/app/features/ingestion/api.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_hpc_upload_archive_ingestor.py
Due: none

Clarify HPC upload execution ID docs
  docs/hpc_api_token_authentication.md
Due: none

Update docs for clarity and flow
  docs/README.md
  docs/ai-196-local-llm/README.md
  docs/architecture/metadata-ingestion.md
  docs/cicd/README.md
  docs/deploy/README.md
  docs/deploy/deployment-and-release.md
  docs/deploy/hpc-api-token-authentication.md
  docs/deploy/nersc-spin-runbook.md
  docs/developer/README.md
  docs/developer/assistant-llm-setup.md
  docs/github-issues/README.md
Due: none

Fix ref to nersc spin runbok
  docs/cicd/README.md
Due: none

Add ingestion coverage for HPC upload flows (#208)
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/schemas.py
  backend/app/scripts/README.md
  backend/app/scripts/ingestion/hpc_upload_archive_ingestor.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_hpc_upload_archive_ingestor.py
  backend/tests/features/ingestion/test_schemas.py
  backend/tests/features/ingestion/test_token_ingestion.py
  docs/README.md
  docs/ai-196-local-llm/README.md
  docs/architecture/metadata-ingestion.md
  docs/cicd/README.md
  docs/deploy/README.md
  docs/deploy/deployment-and-release.md
  docs/deploy/hpc-api-token-authentication.md
  docs/deploy/nersc-spin-runbook.md
  docs/developer/README.md
  docs/developer/assistant-llm-setup.md
  docs/github-issues/README.md
Due: none

Fix Read the Docs MkDocs install config
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Refine case-hash grouping semantics and analysis UI (#157)
  backend/app/features/ingestion/ingest.py
  backend/app/features/ingestion/parsers/case_docs.py
  backend/app/features/ingestion/parsers/parser.py
  backend/app/features/ingestion/parsers/types.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/models.py
  backend/app/features/simulation/schemas.py
  backend/migrations/versions/20260601_112110_e1a37fccb0f7_.py
  backend/tests/features/ingestion/parsers/test_case_docs.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  backend/uv.lock
  frontend/src/features/simulations/CaseDetailsPage.tsx
  frontend/src/features/simulations/CasesPage.tsx
  frontend/src/features/simulations/caseUtils.ts
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Track config deltas by case-hash subgroup
  backend/app/features/assistant/service.py
  backend/app/features/ingestion/ingest.py
  backend/app/features/simulation/schemas.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/simulations/CasesPage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
Due: frontend-eslint, frontend-prettier

Refine simulation anchor and browse state handling
  backend/app/features/assistant/orchestrator.py
  backend/app/features/assistant/registry.py
  backend/app/features/assistant/service.py
  backend/app/features/assistant/snapshot.py
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/ingest.py
  backend/app/features/simulation/anchor.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/models.py
  backend/app/features/simulation/schemas.py
  backend/app/scripts/db/rollback_seed.py
  backend/app/scripts/db/seed.py
  backend/migrations/versions/20260603_120000_remove_case_reference_simulation.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_orchestrator.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/assistant/test_snapshot.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/browse/BrowsePage.tsx
  frontend/src/features/browse/browseSearchParams.ts
  frontend/src/features/browse/components/BrowseFiltersSidePanel.tsx
  frontend/src/features/browse/components/SimulationResults/SimulationBrowseDetailsDialog.tsx
  frontend/src/features/browse/components/SimulationResults/SimulationResultCard.tsx
  frontend/src/features/browse/components/SimulationResults/SimulationResultsTable.tsx
  frontend/src/features/browse/components/SimulationResults/anchorStatus.ts
  frontend/src/features/simulations/CaseDetailsPage.tsx
  frontend/src/features/simulations/CasesPage.tsx
  frontend/src/features/simulations/SimulationsPage.tsx
  frontend/src/features/simulations/caseUtils.ts
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/types/simulation.ts
  frontend/tests/browseSearchParams.test.mjs
  frontend/tests/caseUtils.test.mjs
Due: frontend-eslint, frontend-prettier

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$
